<div class="article article-list-item">
    <div class="article-cover">
        <a href="{% url 'articles:article'  article.id  %}">
            <img src="{{ article.cover.url }}" alt="Temporário">
        </a>
    </div>
    <div class="article-title-container">
        <h2 class="article-title">
            <a href="{% url 'articles:article'  article.id  %}">
                {{ article.title }}</h2>
            </a>
    </div>
    <div class="article-author">
        {% if article.author is not None %}
            <span class="article-author-item">
                <i class="fas fa-user"></i>
                    {% if article.author.first_name %}
                        {{ article.author.first_name }} {{ article.author.last_name }}
                    {% else %}
                        {{ article.author.username }} 
                    {% endif %}
            </span>
        {% endif %}

        <span class="article-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ article.created_at|date:"d/m/Y" }} às {{ article.created_at|date:"H:i:s" }}
        </span>
    {% if article.category is not None %}
        <span class="article-author-item">
            <a href="{% url 'articles:category' article.category.id %}">
                <i class="fas fa-layer-group"></i>
                <span class="">{{ article.category.name }}</span>
            </a>
        </span>   
    {% endif %}                 
    </div>
    <div class="article-content">
        <p>{{ article.description }}</p>
    </div>

    <div class="article-meta-container">
        <div class="article-meta article-difficulty">
            <h3 class="article-meta-title">
                <i class="fas fa-stopwatch"></i>
                Dificuldade
            </h3>
            <div class="article-meta-text">{{ article.difficulty.difficulty }}</div>
        </div>
        <div class="article-meta article-subject">
            <h3 class="article-meta-title">
                <i class="fas fa-stopwatch"></i>
                Assunto
            </h3>
            <div class="article-meta-text">{{ article.category.name }}</div>
        </div>                   
    </div>     
    {% if is_detail_page is not True %}    
    <footer class="article-footer">
        <a href="{% url 'articles:article'  article.id  %}" class="article-read-more button button-dark button-full-width">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>        
    {% endif %}     
    {% if is_detail_page is True %}    
        <div class="article-text">
        {% if article.text_is_html is True %}   
            {{ article.text | safe }}    
        {% else %}   
            {{ article.text | linebreaksbr }}           
        {% endif %}           
        </div> 
    {% endif %}                
</div>