<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="{% url 'articles:home' %}">
                <i class="fas fa-chalkboard main-logo-icon"></i>
                <span class="main-logo-text">Sobretudo Português</span>
            </a>
        </h1>
        <h3>
            <a class="articles-logo" href="{% url 'articles:home' %}">                
                <i class="fas fa-chalkboard articles-logo-icon"></i>
                <span class="articles-logo-text">Artigos</span>    
            </a>
        </h3>
        <h4>
            <a class="author-logo" href="{% url 'articles:home' %} ">                
                <i class="fas fa-circle-user author-logo-icon"></i>
                <span class="articles-author-text">Por {{ name }}</span>   
            </a>                
        </h4>
    </div>
</header>